.todoitemContainer {
  width: 500px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
}

.todoitem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 1rem;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.seperator {
  border: 1px solid #c7c6c6;
}

.deleteBtn {
  border: none;
  border-radius: 4px;
  background-color: #f7ca17;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
}
